{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit or miss?</title>
    <link href="{% static 'cl/style.css' %}" rel="stylesheet">

</head>
<body>
    <header>
        Movie Plots
    </header>
    <main>
        <form id="plotForm" action="{% url 'cl:index' %}" method="post" onsubmit="submitForm()">
            {% csrf_token %}
            <textarea id="plotTextarea" name="plot" placeholder="Enter the plot">{{ original_text }}</textarea>
            <input type="submit" value="Submit">
            <button type="button" onclick="clearForm()">Clear</button>
        </form>

        <div class="text-area-container">
            <!-- Add an ID to the h1 element for targeting it with CSS -->
            <div id="tr_id" contenteditable="true" placeholder="Hit or Miss?...">{{ result|safe }}</div>
        </div>
    </main>

    <!-- You can include your JavaScript here -->
    <script>
        function submitForm() {
            // Define your submission logic here
            document.getElementById("plotForm").submit();
        }

        function clearForm() {
            // Define your clear form logic here
            document.getElementById("plotTextarea").value = "";
        }
    </script>
</body>
</html>


